<div class="out-wrapper">
  <div class="wrapper">
    <%= image_tag('500px-logo.png', alt: '500px', class: '500px-logo') %>
    <h3>Join Now. Beauty awaits you.</h3>
    <div id="btn btn-primary">
      <%= button_to 'Take me there', '/auth/500px' %>
    </div>
  </div>
</div>
