<div class="container">
  <div class="row">
    <div class="wrapper">
      <%= image_tag('500px-logo.png', alt: '500px', class: '500px-logo') %>
      <h3>Join Now. Beauty Awaits You.</h3>
      <%= button_to 'Take Me There', '/auth/500px', class: 'btn btn-primary log-in-btn' %>
    </div>
  </div>
</div>
