.navbar {
  background-color: $black;
  
  .container {
    padding: 0;
  }

  .navbar-brand {
    h2 {
      color: $white;
      margin-bottom: 0;
    }
  }

  .navbar-items {
    color: $white;  
    float: right;
  }
}