body.landing-page {
  background: #222;
  margin-top: 10%;

  // background: #222 url('//pxportfolios.s3.amazonaws.com/assets/shared/background-7a26fa9a071b45f7c6d40bc43b0133bf.png');
  // background-size: 100%;
  // overflow: hidden;
  // background-position: top;
  // background-repeat: no-repeat;
  // background-size: cover;

  // height: 100%;
  // width: 100%;
  // top: 0;
  // left: 0;

  .wrapper {
    @extend .col-md-6; 
    @extend .offset-md-3;
    text-align: center;

    h3 {
      color: $white;
      margin: 30px auto;
    }

    .log-in-btn {
      background-color: #0099e5;
      border: 0;
      cursor: pointer;
    }
  }

}
