<nav class="navbar">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <h2>MY GALLERY</h2>
        </a>
        <%= link_to "Log Out", sign_out_path, method: :delete, class: 'navbar-items navbar-brand log-out' %>
      </div>
    </div>
  </div>
</nav>